				<footer class="mdl-mini-footer">
					<div class="mdl-mini-footer__left-section">
						<div class="mdl-logo">
							<a href="https://github.com/GDGAracaju/incrivel-lista-angular2">Incrivel-lista-angular2</a> is maintained by <a href="https://github.com/GDGAracaju">GDGAracaju</a>.
						</div>
					</div>
					<div class="mdl-mini-footer__right-section">
						<ul class="mdl-mini-footer__link-list">
							<li><a href="#">Help</a></li>
							<li><a href="#">Privacy & Terms</a></li>
						</ul>
					</div>
				</footer>
			</main>
		</div>
	</div>

   <script src="/assets/material.min.js"></script>
</body>
</html>