{% include header.html %}

<main class="mdl-layout__content">
	<div class="mdl-grid portfolio-max-width">
		<!-- Github -->
		<div class="mdl-cell mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Github</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Aenan convallis.
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/GDGAracaju/incrivel-lista-angular2">
					View on GitHub
				</a>
			</div>
		</div>

		<!-- Download ZIP -->
		<div class="mdl-cell mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Download ZIP</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Aenan convallis.
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/GDGAracaju/incrivel-lista-angular2/zipball/master">
					Download .zip
				</a>
			</div>
		</div>

		<!-- Github -->
		<div class="mdl-cell mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Download .tar.gz</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Aenan convallis.
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/GDGAracaju/incrivel-lista-angular2/zipball/master">
					Download .tar.gz
				</a>
			</div>
		</div>

		<div class="mdl-card mdl-cell mdl-cell--12-col mdl-grid mdl-shadow--2dp">
			<h3>
				<a id="incrível-lista-de-angular-2" class="anchor" href="#incr%C3%ADvel-lista-de-angular-2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Incrível Lista de Angular 2
			</h3>

			<p>Incrível Lista de <a href="https://angular.io">Angular 2</a> para repositórios de para início rápido de projetos, boilerplates, exemplos, tutoriais módulos, vídeos, e tudo mais sobre o ecosistema do Angular 2</p>

			<h4>
				<a id="versão-atual-do-angular-2" class="anchor" href="#vers%C3%A3o-atual-do-angular-2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Versão atual do Angular 2:
			</h4>

			<p><a href="https://www.npmjs.com/%7Eangular"><img src="https://badge.fury.io/js/%40angular%2Fcore.svg" alt="npm version"></a></p>

			<h4>
				<a id="versões-de-browsers-suportadas-por-angular-2" class="anchor" href="#vers%C3%B5es-de-browsers-suportadas-por-angular-2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Versões de browsers suportadas por Angular 2:
			</h4>

			<p><a href="https://saucelabs.com/u/angular2-ci"><img src="https://saucelabs.com/browser-matrix/angular2-ci.svg" alt="Sauce Test Status"></a></p>


			<code>Este é um projeto em construção, contribua com traduções, conteúdo próprio entre outros. Toda ajuda é bem-vinda!</code><br>

			<p>
				A lista abaixo é somente conteúdo em português mantido por membros do <a href="https://github.com/GDGAracaju" class="user-mention">@GDGAracaju</a> e voluntários. Para a lista original com conteúdo em inglês por favor visite: <a href="https://angularclass.github.io/awesome-angular2/">awesome-angular2</a>
			</p>

			<p>
				This is a curated list of Brazilian Portuguese resources about Angular 2, mantained by members of <a href="https://github.com/GDGAracaju" class="user-mention">@GDGAracaju</a> and voluntees. For original english content, please visite: <a href="https://angularclass.github.io/awesome-angular2/">awesome-angular2</a>
			</p>

			<h4>
				<a id="tabela-de-conteúdo" class="anchor" href="#tabela-de-conte%C3%BAdo" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Tabela de conteúdo:
			</h4>

			<ul>
				<li>
					<a href="#angular-2">Angular 2</a>
					<ul>
						<li><a href="#fontes-oficiais-em-ingl%C3%AAs">Fontes oficiais</a></li>
						<li><a href="#comunidade">Comunidade</a></li>
						<li><a href="#experts-no-twitter-em-ingl%C3%AAs">Experts no Twitter</a></li>
						<li>
							<a href="#recursos">Recursos</a>
							<ul>
								<li><a href="#anota%C3%A7%C3%B5es">Anotações</a></li>
								<li><a href="#view---vis%C3%A3o">View - Visão</a></li>
								<li><a href="#templates">Templates</a></li>
								<li><a href="#detec%C3%A7%C3%A3o-de-mudan%C3%A7as">Detecção de mudanças</a></li>
								<li><a href="#inje%C3%A7%C3%A3o-de-depend%C3%AAncias">Injeção de Dependências</a></li>
								<li><a href="#pipes">Pipes</a></li>
								<li><a href="#web-workers">Web Workers</a></li>
								<li><a href="#http">HTTP</a></li>
							</ul>
						</li>
						<li><a href="#v%C3%ADdeos">Vídeos</a></li>
						<li><a href="#tutoriais">Tutoriais</a></li>
						<li><a href="#artigos">Artigos</a></li>
					</ul>
				</li>
				<li>
					<a href="#typescript">TypeScript</a>

					<ul>
						<li><a href="#tutoriais">Tutoriais</a></li>
						<li><a href="#artigos">Artigos</a></li>
					</ul>
				</li>
			</ul>
			<h4>
				<a id="angular-2" class="anchor" href="#angular-2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Angular 2
			</h4>

			<blockquote>
				Angular é uma plataforma de desenvolvimento para construção de sistemas móveis, desktop e web.
			</blockquote>

			<h4>
				<a id="fontes-oficiais-em-inglês" class="anchor" href="#fontes-oficiais-em-ingl%C3%AAs" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Fontes oficiais (Em inglês)
			</h4>

			<ul>
				<li><a href="https://angular.io/">Site</a></li>
				<li><a href="http://angularjs.blogspot.com/">Blog</a></li>
				<li><a href="https://angular.io/docs/js/latest/">Documentação</a></li>
				<li><a href="https://angular.io/cheatsheet">Cheatsheet</a></li>
				<li><a href="https://angular.io/docs/js/latest/quickstart.html">Guia para iniciantes</a></li>
				<li><a href="https://github.com/angular/angular">Repositório do GitHub</a></li>
			</ul>

			<h4>
				<a id="comunidade" class="anchor" href="#comunidade" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Comunidade
			</h4>

			<ul>
				<li>
					<code>#angular2</code> canal no servidor IRC da Freenode
				</li>
				<li>
					<a href="https://twitter.com/hashtag/angular2"><code>#angular2</code></a> hashtag no Twitter
				</li>
				<li><a href="https://gitter.im/angular/angular">Canal Gitter</a></li>
				<li><a href="http://stackoverflow.com/questions/tagged/angular2">StackOverflow Angular 2 em inglês</a></li>
				<li><a href="http://pt.stackoverflow.com/questions/tagged/angular2">StackOverflow Angular 2 em português</a></li>
				<li><a href="https://twitter.com/angularjs">@AngularJS no Twitter</a></li>
				<li><a href="https://www.reddit.com/r/Angular2/">/r/Angular2 Subreddit</a></li>
				<li><a href="https://www.facebook.com/groups/angular2/">Angular Group no Facebook em inglês</a></li>
				<li><a href="https://plus.google.com/+AngularJS">AngularJS no Google+ em inglês</a></li>
				<li><a href="http://builtwithangular2.com/">Feito em Angular 2</a></li>
				<li>
					<a href="https://angularbuddies.slack.com/messages/ng-2/"><code>Canal #ng-2 no Slack</code> em inglês</a> em AngularBuddies
				</li>
			</ul>
			<h4>
				<a id="time-angular-no-twitter" class="anchor" href="#time-angular-no-twitter" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Time Angular no Twitter
			</h4>

			<ul>
				<li><a href="https://twitter.com/mhevery">@mhevery</a></li>
				<li><a href="https://twitter.com/IgorMinar">@IgorMinar</a></li>
				<li><a href="https://twitter.com/bradlygreen">@bradlygreen</a></li>
				<li><a href="https://twitter.com/naomitraveller">@naomitraveller</a></li>
				<li><a href="https://twitter.com/victorsavkin">@victorsavkin</a></li>
				<li><a href="https://twitter.com/tbosch1009">@tbosch1009</a></li>
				<li><a href="https://twitter.com/jeffbcross">@jeffbcross</a></li>
				<li><a href="https://twitter.com/karaforthewin">@karaforthewin</a></li>
				<li><a href="https://twitter.com/robwormald">@robwormald</a></li>
			</ul>

			<h4>
				<a id="experts-no-twitter-em-inglês" class="anchor" href="#experts-no-twitter-em-ingl%C3%AAs" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Experts no Twitter (Em inglês)
			</h4>

			<blockquote>
				List of Angular experts you should follow on Twitter (in no particular order). This list is by no means complete.
			</blockquote>

			<ul>
				<li><a href="https://twitter.com/gdi2290">@gdi2290</a></li>
				<li><a href="https://twitter.com/scotups">@scotups</a></li>
				<li><a href="https://twitter.com/pkozlowski_os">@pkozlowski_os</a></li>
				<li><a href="https://twitter.com/teropa">@teropa</a></li>
				<li><a href="https://twitter.com/eggheadio">@eggheadio</a></li>
				<li><a href="https://twitter.com/cedric_exbrayat">@cedric_exbrayat</a></li>
				<li><a href="https://twitter.com/amcdnl">@amcdnl</a></li>
			</ul>

			<h4>
				<a id="google-developer-experts" class="anchor" href="#google-developer-experts" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><a href="https://developers.google.com/experts/all/technology/web-technologies">Google Developer Experts</a>
			</h4>

			<ul>
				<li><a href="https://twitter.com/jack_franklin">Jack Franklin</a></li>
				<li><a href="https://twitter.com/ThierryChatel">Thierry Chatel</a></li>
				<li><a href="https://twitter.com/urishaked">Uri Shaked</a></li>
				<li><a href="https://twitter.com/gruizdevilla">Gonzalo Ruiz de Villa Suárez</a></li>
				<li><a href="https://twitter.com/sharondio">Sharon DiOrio</a></li>
				<li><a href="https://twitter.com/John_Papa">John Papa</a></li>
				<li><a href="https://twitter.com/danwahlin">Dan Wahlin</a></li>
				<li><a href="https://twitter.com/christianweyer">Christian Weyer</a></li>
				<li><a href="https://twitter.com/toddmotto">Todd Motto</a></li>
				<li><a href="https://twitter.com/timruffles">Tim Ruffles</a></li>
				<li><a href="https://twitter.com/manekinekko">Wassim Chegham</a></li>
				<li><a href="https://twitter.com/js_dev">Aaron Frost</a></li>
				<li><a href="https://twitter.com/willmendesneto">Wilson Mendes</a></li>
				<li><a href="https://twitter.com/jaredwilli">Jared Williams</a></li>
				<li><a href="https://twitter.com/gerardsans">Gerard Sans</a></li>
				<li><a href="https://twitter.com/PascalPrecht">Pascal Precht</a></li>
				<li><a href="https://twitter.com/jeffwhelpley/">Jeff Whelpley</a></li>
				<li><a href="https://twitter.com/elecash/">Raúl Jiménez</a></li>
				<li><a href="https://twitter.com/cironunesdev/">Ciro Nunes</a></li>
				<li><a href="https://twitter.com/webmaxru">Maxim Salnikov</a></li>
				<li><a href="https://twitter.com/deborahkurata">Deborah Kurata</a></li>
				<li><a href="https://twitter.com/mgechev">Minko Gechev</a></li>
				<li><a href="https://github.com/GDGAracaju/incrivel-lista-angular2/edit/gh-pages/README.md"><strong></strong> adicionar_experts <strong></strong></a></li>
			</ul>

			<h4>
				<a id="vídeos" class="anchor" href="#v%C3%ADdeos" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Vídeos
			</h4>

			<ul>
				<li><a href="http://loiane.training/curso/angular-2/">Curso de Angular2 pela loinane.training(gratuito)</a></li>
			</ul>

			<h4>
				<a id="tutoriais" class="anchor" href="#tutoriais" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Tutoriais
			</h4>

			<ul>
				<li><a href="http://kazale.com/curso-basico-angular-2/">Curso Básico de Angular 2</a></li>
				<li>
				<a href="http://aprendaangular2.online/why-angular2">Porquê Angular 2</a> </li>
				<li><a href="http://tableless.com.br/criando-uma-aplicacao-movel-com-ionic-2-e-angular-2-em-dez-passos/">Criando uma Aplicação Móvel com Ionic2 e Angular 2 em 10 Passos</a></li>
				<li><a href="https://github.com/loiane/curso-angular2">Curso Angular 2 gratuito</a></li>
				<li><a href="http://viladosilicio.com.br/comecando-com-angular-2/">Começando com Angular 2</a></li>
				<li><a href="http://clubedosgeeks.com.br/programacao/angularjs/angular2-http-services">Usando Services e HTTP em Angular 2</a></li>
				<li><a href="http://clubedosgeeks.com.br/programacao/angularjs/iniciando-com-angular-2">Iniciando com Angular 2</a></li>
			</ul>

			<h4>
				<a id="artigos" class="anchor" href="#artigos" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Artigos
			</h4>

			<ul>
				<li><a href="http://blog.werlangtecnologia.com.br/angular/adeus-angularjs-ola-angular2/">Adeus AngularJS, Olá Angular 2</a></li>
				<li><a href="http://blog.caelum.com.br/angular-2-o-fim-do-two-way-data-binding/">Angular 2: o Fim do Two-Way Data Binding?</a></li>
				<li><a href="http://andrebaltieri.net/blog/angular-2-e-realmente-uma-cilada/">Angular 2 é Realmente Uma cilada?</a></li>
				<li><a href="http://felipe.smallorange.co/porque-o-angular-2-vai-bombar/">Porque o Angular 2 vai bombar</a></li>
			</ul>

			<h4>
				<a id="typescript" class="anchor" href="#typescript" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>TypeScript
			</h4>

			<blockquote>
				TypeScript é um superset do JavaScript feito pela Microsoft e do qual é linguagem base para escrever aplicações em Angular 2.
			</blockquote>

			<h4>
				<a id="tutoriais-1" class="anchor" href="#tutoriais-1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Tutoriais
			</h4>

			<ul>
				<li><a href="http://tableless.com.br/diga-ola-ao-typescript-e-adeus-ao-javascript/">Diga Olá ao TypeScript e Adeus ao JavaScript</a></li>
				<li><a href="https://talkitbr.com/2016/02/26/crie-aplicacoes-javascript-com-typescript-no-visual-studio-code/">Crie Aplicações JavaScript com TypeScript no Visual Studio Code</a></li>
				<li><a href="http://clubedosgeeks.com.br/programacao/javascript/typescript-ame-ou-nem-ligue">TypeScript, Ame ou nem Ligue</a></li>
				<li><a href="http://clubedosgeeks.com.br/programacao/javascript/typescript-orientado-objetos">TypeScript - Orientado a Objetos</a></li>
				<li>
				<a href="http://clubedosgeeks.com.br/programacao/javascript/typescript-executando-com-systemjs">TypeScript - Executando no Browser com SystemJS</a> </li>
				<li><a href="http://www.crazytechguys.com/2012/10/05/criando-javascript-vitaminado-com-typescript/">Criando JavaScript Vitaminado com TypeScript</a></li>
				<li><a href="http://alexhiroshi.com.br/typescript-escrevendo-javascript-tipado/">TypeScript = Escrevendo JavaScript tipado</a></li>
			</ul>

			<h4>
				<a id="artigos-1" class="anchor" href="#artigos-1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Artigos
			</h4>

			<ul>
				<li><a href="http://imasters.com.br/framework/dotnet/net-o-que-e-typescript-e-quais-os-seus-beneficios">.NET - O que é TypeScript e quais os seus Benefícios?</a></li>
				<li><a href="http://www.eduardopires.net.br/2012/10/typescript/">TypeScript - O Superset de JavaScript</a></li>
				<li><a href="https://msdn.microsoft.com/pt-br/magazine/Dn890374.aspx">Compreendendo o TypeScript</a></li>
				<li><a href="https://www.infoq.com/br/news/2016/05/typescript-2-preview">TypeScript 2.0: O que Está por Vir</a></li>
				<li><a href="http://www.tocadigital.com.br/2016/10/typescript-uma-solucao-mais-simples-e-organizada-de-escrever-e-compilar-javascript/">TypeScript: Uma Solução mais Simples e Organizada de Escrever e Compilar JavaScript</a></li>
				<li><a href="http://www.tocadigital.com.br/2016/10/typescript-uma-solucao-mais-simples-e-organizada-de-escrever-e-compilar-javascript/">TypeScript: Porque Você Deveria Aprender?</a></li>
			</ul>

			<h4>
				<a id="vídeos-1" class="anchor" href="#v%C3%ADdeos-1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Vídeos
			</h4>

			<ul>
				<li><a href="https://mva.microsoft.com/pt-br/training-courses/introdu-o-ao-nodejs-com-typescript-no-visual-studio-code-15851">Microsoft Virtual Academy - Introdução ao NodeJS com TypeScript no Visual Studio Code</a></li>
			</ul>

			<h4>
				<a id="recursos" class="anchor" href="#recursos" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Recursos
			</h4>

			<h4>
				<a id="anotações" class="anchor" href="#anota%C3%A7%C3%B5es" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Anotações
			</h4>

			<h5>
				<a id="diretivas" class="anchor" href="#diretivas" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Diretivas
			</h5>

			<p>Diretivas permitem adicionar comportamentos a elementos no DOM.
			<br><a href="/incrivel-lista-angular2/2017/01/06/annotations.html#diretivas">Leia mais »</a></p>

			<h5>
				<a id="componentes" class="anchor" href="#componentes" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Componentes
			</h5>

			<p>Um componente é uma diretiva do qual utiliza o shadow DOM para criar um encapsulamento de comportamento visual. Componentes são usados para criar elementos gráficos ou separa a aplicação  em componentes menores
			<br><a href="/incrivel-lista-angular2/2017/01/06/annotations.html#componentes">Leia mais »</a></p>

			<h5>
				<a id="view---visão" class="anchor" href="#view---vis%C3%A3o" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>View - Visão
			</h5>

			<p>Uma View é o núcleo primitivo usado pelo Angular para renderizar a árvore do DOM.
			<br><a href="/incrivel-lista-angular2/2017/01/06/view.html">Leia mais »</a></p>

			<h5>
				<a id="templates" class="anchor" href="#templates" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Templates
			</h5>

			<p>Template são marcações que são adicionadas ao HTML para descrever declarativamente como o modelo de aplicação deve projetado para o DOM como também para quais métodos de um controller devem ser invocados a partir de eventos do DOM.<br><a href="/incrivel-lista-angular2/2017/01/06/templates.html">Leia mais »</a></p>

			<h5>
				<a id="detecção-de-mudanças" class="anchor" href="#detec%C3%A7%C3%A3o-de-mudan%C3%A7as" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Detecção de Mudanças
			</h5>

			<p>Cada componente tem um detector de mudanças que fica responsável por checar as ligações(bindings) definidas em seus templates.
			<br><a href="/incrivel-lista-angular2/2017/01/06/change-detection.html">Leia mais »</a></p>

			<h5>
				<a id="injeção-de-dependências" class="anchor" href="#inje%C3%A7%C3%A3o-de-depend%C3%AAncias" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Injeção de Dependências
			</h5>

			<p>Angular 1.x tem duas APIs para injeção de dependências para uma diretiva. Angular 2 unifica as duas APIs, fazendo o código mais fácil de entender e testar.
			<br><a href="/incrivel-lista-angular2/2017/01/06/di.html">Leia mais »</a></p>

			<h5>
				<a id="pipes" class="anchor" href="#pipes" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Pipes
			</h5>

			<p>Pipes podem ser encadeados no final de expressões para traduzir o valor em diferentes formatos
			<br><a href="/incrivel-lista-angular2/2017/01/06/pipes.html">Leia mais »</a></p>

			<h5>
				<a id="web-workers" class="anchor" href="#web-workers" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Web Workers
			</h5>

			<p>Suporte do WebWorker em Angular2 foi desenvolvido para facilmente adicionar paralelização em sua aplicação Web. Quando você escolhe executar sua aplicação em um WebWorker o Angular executa sua lógica de aplicação e a maior parte dos componentes principais do framework Angular estão em um WebWorker.
			<br><a href="/incrivel-lista-angular2/2017/01/06/web-workers.html">Leia mais »</a></p>

			<h5>
				<a id="http" class="anchor" href="#http" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>HTTP
			</h5>

			<p>HTTP é disponibilizado como uma classe injetável, com métodos para fazer requisições HTTP. Requisições chamadas retornam um EventEmitter, o qual, irá emitir uma única Resposta quando uma resposta é recebida.</p>

			<ul>
				<li>
					<a href="http://www.syntaxsuccess.com/viewarticle/angular-2.0-and-http">Introdução ao HTTP em Angular 2 em inglês</a>
					<br><a href="/incrivel-lista-angular2/2017/01/06/http.html">Leia mais »</a>
				</li>
			</ul>

			<h5>
				<a id="licença" class="anchor" href="#licen%C3%A7a" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Licença
			</h5>

			<p>
				<a href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="https://licensebuttons.net/p/zero/1.0/88x31.png" alt="CC0"></a>
				Versão em Português Mantido por <a href="https://github.com/GDGAracaju" class="user-mention">@GDGAracaju</a> e voluntários
			</p>

			<div style="width: 100%;">
				<p>Original version (english) <a href="https://angularclass.github.io/awesome-angular2/">awesome-angular2</a></p>
			</div>
		</div>
	</div>
</main>

{% include footer.html %}